<section>
  <div class="container-fluid">
    <div class="col-xs-12 col-md-12"><h1 class="display-3 form-title">{{ 'Help us grow your business !' | translate }}</h1></div>
    <app-interactive-form-generator [steps]="steps" (formResults)="getResults($event)"></app-interactive-form-generator>
    <div class="col-xs-12 col-md-8 offset-md-2 h4">
      <div class="col-xs-12 col-md-4 form-bottom"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ 'Takes 15s' | translate }}</span></div>
      <div class="col-xs-12 col-md-4 form-bottom"><i class="fa fa-dollar" aria-hidden="true"></i><span>{{ 'Free 100%' | translate }}</span></div>
      <div class="col-xs-12 col-md-4 form-bottom"><i class="fa fa-envelope" aria-hidden="true"></i><span>{{ 'No email address asked' | translate }}</span></div>
    </div>
  </div>
</section>a