<div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p class="text-xs-center"><img class="avatar" src="http://www.gravatar.com/avatar/bce7e5bcf9a3588756fbefa18519a768?s=140"></p>
  <p>My name is Sylvain Tissier I'm a 27 years old, French, <em>FullStack Web Developer</em> passionated by web technologies, and Bitcoin.</p>
</div>
<!--<div class="sidebar-module">-->
<!--<h4>Archives</h4>-->
<!--<ol class="list-unstyled">-->
<!--<li><a href="#">March 2014</a></li>-->
<!--<li><a href="#">February 2014</a></li>-->
<!--<li><a href="#">January 2014</a></li>-->
<!--<li><a href="#">December 2013</a></li>-->
<!--<li><a href="#">November 2013</a></li>-->
<!--<li><a href="#">October 2013</a></li>-->
<!--<li><a href="#">September 2013</a></li>-->
<!--<li><a href="#">August 2013</a></li>-->
<!--<li><a href="#">July 2013</a></li>-->
<!--<li><a href="#">June 2013</a></li>-->
<!--<li><a href="#">May 2013</a></li>-->
<!--<li><a href="#">April 2013</a></li>-->
<!--</ol>-->
<!--</div>-->
<div class="sidebar-module">
  <h4>Elsewhere</h4>
  <ol class="list-unstyled">
    <li><i class="elsewhere-icons fa fa-github" aria-hidden="true"></i><a href="https://github.com/SylTi">GitHub</a></li>
    <li><i class="elsewhere-icons fa fa-linkedin" aria-hidden="true"></i><a href="https://www.linkedin.com/in/sylti">Linkedin</a></li>
    <li><img src="assets/images/freelancer.jpg" alt="Freelancer.com"/> <a href="https://www.freelancer.com/u/SylTi.html">Freelancer.com</a></li>
  </ol>
</div>
