<section id="home" class="pfblock-image screen-height">
  <div class="home-overlay"></div>
  <div class="intro">
    <!--<img src="https://www.gravatar.com/avatar/bce7e5bcf9a3588756fbefa18519a768?s=140" />-->
    <div class="h3 start">Hello, my name is Sylvain Tissier and I am a</div>
    <h1>Full Stack Web Consultant</h1>
    <div class="h3 start">Creating & Enhancing modern and responsive Web Application</div>
  </div>

  <a href="#services">
    <div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
    </div>
  </a>
</section>
<section id="test">
  <div class="container">
    <div class="row">
      <div class="col-md-6">blabla</div>
    </div>
  </div>
</section>