@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);


@colored-card: #C0C0C0;
@selected-card: #909090;
@color-icons: #707070;
@background: #E0E0E0;//#E8E8E8
@background-body: #F0F0F0;

body {
    font: 300 13px/1.8 'Raleway', sans-serif;
    color: #666;
    overflow-x: hidden;
    background-color: @background-body;
}

h1, h2, h3, h4, h5, h6, .h4 {
    font: 700 40px/1.2 Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    //margin: 5px 0 5px;
    color: #222;
}
h2 {
    font-size: 30px;
    margin: 0 0 30px;
}

h3 {
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

h4, .h4 {
    font-size: 20px;
    letter-spacing: 1px;
}

.h4 {
    text-transform: none;
}

.h5 {
    font-family: 'Raleway', sans-serif;
    //letter-spacing: 1px;
}
h5 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
}
.form-title {
    margin: 25px 0px;
    margin-top: 75px;
    text-align: center;
}

.form-subtitle
{
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
}

.cards-holder {
    background-color: @background;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}

.card-holder
{
    padding-right: 0;

    &.card-holder-last {
        padding-right: 15px;
    }
}

.card {
    cursor: pointer;
    margin-top: 25px;
    &:hover {
        background-color: @colored-card;
    }
}

.card-text {
    margin-top: 15px;
}

.selected-card {
    background-color: @selected-card;
}

.steps {
    padding: 30px 30px;
    margin-top: 50px;
    margin-bottom: 0;
}

.steps-number, .steps-text {
    margin-top: 5px;
}

.steps-text {
    padding-bottom: 14px;
}

.steps-button {
    margin-bottom: 5.5px;

    .btn.btn-info {
        font-weight: bold;
    }
}

.fa {
    margin-right: 5px;
    color: @color-icons;
}

.fa-question-circle {
    color: #222;
}


.question-holder {
    margin-top: 25px;
    margin-bottom: 25px;
}
.question-0 {
    margin-top: 50px;
}

.question-title {
    //display:block;
}

.question-input {

}

.btn.btn-secondary, .bold {
    color: #222;
    font-weight: bold;
}


@media (max-width: 768px) {

    .form-title {
        padding-left: 15px;
    }

    .form-subtitle {
        padding-left: 25px;
    }

    .card-holder {
        padding-right: 15px;
    }

    .steps-number {
        margin-bottom: 10px;
    }

    .form-bottom {
        margin-bottom: 10px;
    }
}